doctype html
html
	head
		title Influx D2H
		link(rel='stylesheet', href=utils.assetPath('/bundle/home.css'))
	body
		include ./common/header
		block content
		include ./common/footer
		script(src=utils.assetPath("/bundle/vendor.js"))
		block script